transformation/src/main/mule/transformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c330038d-431e-4994-81be-d96c726e6603" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="transformationFlow" doc:id="c456c64d-32e9-4244-aacd-6a3be194f899" >
		<http:listener doc:name="Listener" doc:id="7c0371bd-6b3a-4898-8bc4-4900cf6315ed" config-ref="HTTP_Listener_config" path="/transformation"/>
		<http:request method="GET" doc:name="Request" doc:id="6c9bd33b-2c23-4bd7-a9db-aa6925b015f5" url="https://jsonplaceholder.typicode.com/posts/1"/>
		<ee:transform doc:name="Transform Message" doc:id="170a0bd9-dbc6-4267-8a56-1156025ed80b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	t_title: payload.title,
	t_body: payload.body
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
